* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%); 
    font-family: 'Outfit', sans-serif;
}

.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    height: auto;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-card img {
    width: 280px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.hero-card h3 {
    width: 280px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}

.hero-card p {
    width: 250px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
    color: hsl(220, 15%, 55%);
}
